<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metrics -->
      <package
            uri="http://www.example.org/metrics"
            class="nl.metrics.metrics.MetricsPackage"
            genModel="model/metrics.genmodel"/>
   </extension>

</plugin>
